<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>エラー表示画面</title>
  <link rel="stylesheet" href="static/style.css?v=0220">
</head><body><div class="content">
    <h2><b><ul>エラー表示画面</ul></b></h2>

    <p>
    {{ error_message | safe }}
        <br><br>

    <input type="button" onclick="history.back()" value="戻る"
           style="background:#f2f2f2;color:black;border:1"></input>

</div></body>
</html>