<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>結果表示画面</title>
  <link rel="stylesheet" href="static/style.css?v=0220">
</head><body><div class="content">
    <h2><b><ul>結果表示画面</ul></b></h2>

    <p>
    {{ message }}
    <br><br>

    <div class="buttonwrap" style="display:inline-flex">
    <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="category" value="99">
        <input type="submit"value="管理画面へ戻る"
               style="background:#f2f2f2;color:black;border:1">
    </form>
</div>
</div></body>
</html>