<!DOCTYPE html>

<html lang="ja"><head><meta charset="UTF-8">
  <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
  <title>パスワード設定</title>
  <link rel="stylesheet" href="static/style.css?v=0220">
</head>
{% if user_id <= 5 %}
<body bgcolor="#F8CBAD">
{% else %}
<body bgcolor="#CCFFCC">
{% endif %}
<div class="content">
    <center><h2><b><ul>パスワード設定画面</ul></b></h2></center>
    <!-- メニュー -->
<div class="buttonwrap" >

    <form action="resetpasswd" method="POST">
        <TABLE><TR>
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="password" value={{ password }} />
            <td>ユーザ名</td><td><input type="text" name="name" readonly="true" value={{ name }} /></td></TR>
        <tr><td>現在のパスワード</td><td><input type="password" name="old_password" ></td></TR>
            <tr><td>新しいパスワード</td><td><input type="password" name="new_password" ></td></TR></TABLE>
<div class="buttonwrap" style="display:inline-flex">
        <input type="submit" value="設定">
</div>
    </form>
    <form action="makeExam" method="POST">
        <input type="hidden" name="user_id" value={{ user_id }} />
        <input type="hidden" name="category" value="99">
        <input type="submit"value="管理画面へ戻る"
               style="background:#f2f2f2;color:black;border:1">
    </form>
</div>
</body>
</html>